.ChildReg{
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        padding: 10px;
        background-color: #F6EEE0;
        .header{
            display: flex;
            .headerLeft{
                padding: 10px;
                margin-bottom: 2px;
                border-bottom: 1px solid red;
                border-right: 1px solid red;
                width: 100px;
            }
            .headerRight{
                width: 50%;
                padding: 10px;
                margin-bottom: 2px;
                border-bottom: 1px solid red;
                margin-left: 2px ;
                border-left: 1px solid red;
            }
        }
        .firstName{
            display: flex;
            .firstNameLeft{
                padding: 10px;
                border-bottom: 1px solid grey;
                border-top: 1px solid red;
                border-right: 1px solid red;
                width: 100px;
            }
            .firstNameRight{
                padding: 10px;
                border-bottom: 1px solid grey;
                border-top: 1px solid red;
                margin-left: 2px ;
                border-left: 1px solid red;
                .inputFirstNameRight{
                    background-color: transparent;
                    border: 0;
                }
            }
        }
        .lastName{
            display: flex;
            .lastNameLeft{
                padding: 10px;
                border-bottom: 1px solid grey;
                border-right: 1px solid red;
                width: 100px;
            }
            .lastNameRight{
                padding: 10px;
                border-bottom: 1px solid grey;
                margin-left: 2px ;
                border-left: 1px solid red;
                .inputLastNameRight{
                    background-color: transparent;
                    border: 0;
                }
            }
        }
        .age{
            display: flex;
            .ageLeft{
                padding: 10px;
                border-bottom: 1px solid grey;
                border-right: 1px solid red;
                width: 100px;
            }
            .ageRight{
                padding: 10px;
                border-bottom: 1px solid grey;
                margin-left: 2px ;
                border-left: 1px solid red;
                .inputAgeRight{
                    background-color: transparent;
                    border: 0;
                }
            }
        }
        .submit{
            margin: 10px;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            .submitButton{
                border-radius: 50px;
                border: 0;
                width: 100%;
                height: max-content;
                background-color: transparent;
            }
        }
        .submit:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


        }
    }
}